@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,700;1,400&family=Raleway:wght@700;900&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

//Fuentes

$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Bona Nova', serif;
$fuenteRelaway: 'Raleway', sans-serif;




//Medias Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;



//Colores

$primario: #854836 ;
$secundario: #f3bc77;
$cafe:#462c24;
$cafeClaro: #ebe7de ;
$negro:#141010;
$blanco:#fcfefe;
$grisClaro:#e3e3e3;


//Unidades

$separacion: 5rem;